<h2><%= current_user.first_name %>, <%= current_user.last_name %></h2>
<h3>Set Your Preferences</h3>

<h4>All Stores:</h4>
  <%= form_for(current_user, url: add_store_path, method: :post) do |f| %>
    <%= f.select :store_ids, Store.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
    <%= f.submit "Add" %>
  <% end %>

<h4>Your Stores:</h4>
  <% @my_stores.each do |store| %>
    <ul>
      <li>
        <%= store.name %> <%= link_to "x", delete_store_path(store_id: store), 
                              method: :delete  %>
      </li>
    </ul>
  <% end %>